<!-- <button ng-click="main.openModalHandler()" style="position: absolute;">go modal</button> -->

<div class="map-container">
    <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgNApputr8n44H22Nmvs8iAsX47yqE80g">
        <ng-map center="47.1027128,28.4990345" zoom="13"
                styles="{{main.styles}}">
            <marker ng-repeat="marker in main.markers"
                    id="{{marker.id}}"
                    position="{{::marker.position}}"
                    title={{::marker.title}}
            >
                    <!--id="{{marker.alertId}}"

                    title={{::marker.title}}
                    icon="{{::marker.icon}}"
                    on-click="dashboard.getFiredAlertsInfo()"-->

            </marker>
            <info-window id="info-window">
                <div id="map-thing-information">
                    <div class="item">
                        <span class="name">Name: </span>{{::dashboard.checkedAlertOnMap.Thing.ThingName}}
                    </div>
                    <div class="item">
                        <span class="name">Location: </span>{{::dashboard.checkedAlertOnMap.Thing.ThingName}}
                    </div>
                    <div class="item">
                        <span class="name">Status: </span>{{::dashboard.checkedAlertOnMap.Status}}
                    </div>
                    <div class="item">
                        <span class="name">Alerts: </span><span style="color:{{::dashboard.checkedAlertOnMap.color}};">{{::dashboard.checkedAlertOnMap.Alert.Severity}}</span>
                    </div>
                    <div class="item center"><button class="button-more" ng-click="dashboard.goToThingsGroup()">More</button></div>
                </div>
            </info-window>
        </ng-map>
    </div>
</div>

<aside class="side-nav md-whiteframe-5dp">
    <ul class="acquisitions">
        <li dir-paginate="item in main.acquisitions | itemsPerPage: 20">
            <a href="!#">{{ item.description }}</a>
        </li>
    </ul>
    <dir-pagination-controls max-size="4"></dir-pagination-controls>
</aside>
