<!-- <button ng-click="main.openModalHandler()" style="position: absolute;">go modal</button> -->

<div class="map-container">
    <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgNApputr8n44H22Nmvs8iAsX47yqE80g">
        <ng-map center="47.1027128,28.4990345" zoom="12">
            <marker ng-repeat="marker in main.markers"
                    id="{{marker.id}}"
                    position="{{::marker.position}}"
                    title={{::marker.title}}
            >
                    <!--id="{{marker.alertId}}"

                    title={{::marker.title}}
                    icon="{{::marker.icon}}"
                    on-click="dashboard.getFiredAlertsInfo()"-->

            </marker>
            <info-window id="info-window">
                <div id="map-thing-information">
                    <div class="item">
                        <span class="name">Name: </span>{{::dashboard.checkedAlertOnMap.Thing.ThingName}}
                    </div>
                    <div class="item">
                        <span class="name">Location: </span>{{::dashboard.checkedAlertOnMap.Thing.ThingName}}
                    </div>
                    <div class="item">
                        <span class="name">Status: </span>{{::dashboard.checkedAlertOnMap.Status}}
                    </div>
                    <div class="item">
                        <span class="name">Alerts: </span><span style="color:{{::dashboard.checkedAlertOnMap.color}};">{{::dashboard.checkedAlertOnMap.Alert.Severity}}</span>
                    </div>
                    <div class="item center"><button class="button-more" ng-click="dashboard.goToThingsGroup()">More</button></div>
                </div>
            </info-window>
        </ng-map>
    </div>
</div>

<aside class="side-nav md-whiteframe-5dp">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Acquisitions</span>
        </div>
    </md-toolbar>
    <md-table-container class="md-table-container">
        <table md-table multiple ng-model="main.selected" md-progress="main.promise">
            <!--<thead md-head md-order="main.query.order" md-on-reorder="main.getDesserts">
            <tr md-row>
                <th md-column>Acquisitions</th>
            </tr>
            </thead>-->
            <tbody md-body>
            <tr md-row md-select-id="name" md-auto-select ng-repeat="acquisition in main.acquisitions">
                <td md-cell>{{acquisition.description}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="main.query.limit" md-limit-options="[5, 10, 15]" md-page="main.query.page" md-total="{{main.count}}" md-on-paginate="main.getDesserts" md-page-select></md-table-pagination>
</aside>
