<!-- <button ng-click="main.openModalHandler()" style="position: absolute;">go modal</button> -->

<div class="map-container">
    <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgNApputr8n44H22Nmvs8iAsX47yqE80g">
        <ng-map center="47.1027128,28.4990345" zoom="13"
                styles="{{main.styles}}"></ng-map>
    </div>
</div>

<aside class="side-nav md-whiteframe-5dp">
    <ul class="acquisitions">
        <li dir-paginate="item in main.data | itemsPerPage: 20">
            <a href="!#">{{ item.title }}</a>
        </li>
    </ul>
    <dir-pagination-controls max-size="4"></dir-pagination-controls>
</aside>
