<!--
    controllerAs: detail
-->
<style>

    .detalied-info-modal {
        width: 100%;
        height: 100%;
        max-width: 95%;
        max-height: 95%;
    }

    .item {
        padding: 5px;
        margin-right: 40px;
    }

    .item:last-child {
        margin-right: 0;
    }

    .key {
        font-weight: 700;
    }

    .rating-checkboxes {
        padding: 10px;
        width: 30%;
    }

    .rating-stars {
        padding: 10px;
        width: 80%;
    }

    .rating-stars .stars {
        display: flex;
        justify-content: center;
    }

    .comments {
        padding-left: 10%;
        padding-right: 10%;
    }

    .comments .comment {
        align-items: center;
        padding-bottom: 10px;
    }

    .comment-form {
        padding-left: 10%;
        padding-right: 10%;
    }

    .count-for-conditions {
        display: block;
        float: right;
        position: relative;
        top: 4px;
        color: rgba(0,0,0,0.38);
    }

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}

</style>
<md-dialog aria-label="Detalied info" class="detalied-info-modal">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Detalied info</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="detail.closeHandler()" aria-label="Close">
                <i class="fa fa-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-tabs md-dynamic-height>

            <md-tab label="Basic info">
                <md-content class="md-padding" class="basic-info">
                    <div layout="row" layout-align="center center">
                        <div style="margin-right: 20px;">
                            <h3>Contracting Authority</h3>
                            <div layout="row" layout-align="start center">
                                <div class="item">
                                    <div class="key">Name</div>
                                    <div class="value">{{detail.aquisition.contracting_authority.name}}</div>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div class="item">
                                    <div class="key">Type</div>
                                    <div class="value">{{detail.aquisition.type}}</div>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div class="item">
                                    <div class="key">Address</div>
                                    <div class="value">{{detail.aquisition.contracting_authority.address}}</div>
                                </div>
                                <div class="item">
                                    <div class="key">Phone</div>
                                    <div class="value">{{detail.aquisition.contracting_authority.phone}}</div>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div class="item">
                                    <div class="key">Status</div>
                                    <div class="value">{{detail.aquisition.status}}</div>
                                </div>
                            </div>

                            <h3>Tender Info</h3>
                            <div layout="row" layout-align="start center">
                                <div class="item">
                                    <div class="key">Tender URL</div>
                                    <div class="value">
                                        <a href="{{detail.aquisition.tender_url}}">{{detail.aquisition.tender_url}}</a>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <div class="item">
                                    <div class="key">Registration Number</div>
                                    <div class="value">{{detail.aquisition.reg_number}}</div>
                                </div>
                                <div class="item">
                                    <div class="key">CPV</div>
                                    <div class="value">{{detail.aquisition.cpv}}</div>
                                </div>
                                <div class="item">
                                    <div class="key">Open Date</div>
                                    <div class="value">{{detail.aquisition.open_date}}</div>
                                </div>
                            </div>
                        </div>

                        <div style="width:50%; height: 385px; overflow: hidden;">
                            <ng-map options="{scrollwheel: false}"></ng-map>
                        </div>
                        
                    </div>
                </md-content>
            </md-tab>











            <md-tab label="Rating" id="rating-for">
                <md-content class="md-padding">
                    <div layout="row" layout-align="space-around center">
                        <md-card class="rating-stars">
                            <div class="stars">
                                <rating ng-model="detail.rate.value" max="5"></rating>
                            </div>
                        </md-card>
                    </div>
                    <div layout="row" layout-align="space-around center">
                        <md-card class="rating-checkboxes">
                            <div class="conditions">
                                <md-checkbox
                                    ng-disabled="true"
                                    ng-model="detail.review.conditions.started.flag">
                                    Started
                                </md-checkbox>
                                <span class="count-for-conditions">{{detail.review.conditions.started.count}}</span>
                            </div>

                            <div class="conditions">
                                <md-checkbox
                                    ng-model="detail.review.conditions.startedInTime.flag"
                                    ng-disabled="true">
                                    Started In Time
                                </md-checkbox>
                                <span class="count-for-conditions">{{detail.review.conditions.startedInTime.count}}</span>
                            </div>

                            <div class="conditions">
                                <md-checkbox
                                    ng-model="detail.review.conditions.validProcess.flag"
                                    ng-disabled="true">
                                    Valid Process
                                </md-checkbox>
                                <span class="count-for-conditions">{{detail.review.conditions.validProcess.count}}</span>
                            </div>
                        </md-card>

                        <md-card class="rating-checkboxes">
                            <div class="conditions">
                                <md-checkbox
                                    ng-model="detail.review.conditions.finished.flag"
                                    ng-disabled="true">
                                    Finished
                                </md-checkbox>
                                <span class="count-for-conditions">{{detail.review.conditions.finished.count}}</span>
                            </div>

                            <div class="conditions">
                                <md-checkbox
                                    ng-model="detail.review.conditions.finishedIntime.flag"
                                    ng-disabled="true">
                                    Finished In Time
                                </md-checkbox>
                                <span class="count-for-conditions">{{detail.review.conditions.finishedIntime.count}}</span>
                            </div>

                            <md-checkbox style="visibility: hidden">
                                In time
                            </md-checkbox>

                        </md-card>
                    </div>


                    <md-list class="comments">
                        <h3>Comments</h3>

                        <md-list-item ng-repeat="comment in detail.review.comments"
                            class="md-3-line comment">

                            <div layout="column" layout-align="center center">
                                <md-button class="md-primary"
                                    ng-click="detail.rateCommentHandler(true, comment.id, $index)">
                                    like
                                </md-button>

                                <div class="md-item-text" style="padding:5px">
                                    <h3>{{comment.likes}}</h3>
                                </div>

                                <md-button class="md-warn"
                                    ng-click="detail.rateCommentHandler(false, comment.id, $index)">
                                    dislike
                                </md-button>
                            </div>

                            <div class="md-list-item-text">
                                {{comment.message}}
                            </div>

                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>

                    </md-list>
                </md-content>
            </md-tab>










            <md-tab label="Send your feedback">
                <md-content class="md-padding">
                    <div layout="row" layout-align="space-around center">
                        <md-card class="rating-checkboxes">
                            <md-checkbox
                                ng-model="detail.newReview.conditions.started">
                                Started
                            </md-checkbox>

                            <md-checkbox
                                ng-model="detail.newReview.conditions.startedInTime">
                                Started In Time
                            </md-checkbox>

                            <md-checkbox
                                ng-model="detail.newReview.conditions.validProcess">
                                Valid Process
                            </md-checkbox>
                        </md-card>

                        <md-card class="rating-checkboxes">
                            <md-checkbox
                                ng-model="detail.newReview.conditions.finished">
                                Finished
                            </md-checkbox>

                            <md-checkbox
                                ng-model="detail.newReview.conditions.finishedIntime">
                                Finished In Time
                            </md-checkbox>

                            <md-checkbox style="visibility:hidden">
                                In time
                            </md-checkbox>
                        </md-card>
                    </div>

                    <div class="comment-form">
                        <div>
                            <md-input-container class="md-block">
                                <label>Your comment:</label>
                                <textarea rows="5" md-select-on-focus
                                    ng-model="detail.newReview.comment"></textarea>
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary"
                                ng-click="detail.sendReviewHandler()">Send</md-button>
                        </div>
                    </div>
                </md-content>
            </md-tab>

        </md-tabs>
    </md-dialog-content>

</md-dialog>
